.contactPageSec h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 15px;
}

.contactPageSec {
  padding-top: 40px;
  padding-bottom: 40px;
}

.formContainer {
  width: 40%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.formContainer input {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid gray;
  padding: 13px;
  outline: none;
  border-radius: 5px;
}

.formContainer textarea {
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  height: 200px;
}

.formContainer button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #b8b5b5;
}

@media (max-width: 768px) {
  .formContainer {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .formContainer {
    width: 90%;
  }
}
